---
import "@/css/global.css";
import EmailTable from "../components/Table.astro";
interface Props {
	title: string;
	description: string;
}
---

<!doctype html>
<html lang="en" data-theme="business">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script
			defer
			src="https://kit.fontawesome.com/d68c1e9ba0.js"
			crossorigin="anonymous"></script>
	</head>
	<body class="dark">
		<div
			class="flex justify-center mt-[200px] gap-[50px] lg:gap-[200px] lg:flex-row flex-col px-3"
		>
			<div>
				<h3>Authentication</h3>
				<h4>You shall not pass!</h4>
			</div>
			<div
				class="w-full p-4 grid place-items-center"
				style="margin-left: auto; margin-right: auto;"
			>
				<EmailTable />
			</div>
		</div>
	</body>
</html>
