---
import "@/css/global.css";
import Table from "@/components/Table.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="business">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script
			defer
			src="https://kit.fontawesome.com/d68c1e9ba0.js"
			crossorigin="anonymous"></script>
	</head>
	<body class="dark">
		<Table />
	</body>
</html>
