---
import { Icon } from "astro-icon/components";

// Define the component's properties
interface LinkProps {
    iconName: string;
    name: string;
}
const { iconName, name } = Astro.props as LinkProps;
---

<!-- <a> -->
<div class="relative group">
    <div class="peer relative flex flex-col gap-6">
        <div class="flex items-center gap-3">
            <div
                class="relative flex items-center justify-center shrink-0 h-10 w-10 rounded-lg group cursor-pointer overflow-hidden border rounded-full hover:border-strong bg-surface-100 transition"
            >
                <!-- Use platform as a dynamic part to switch icons -->
                <Icon class="w-5" name={iconName} />
            </div>
            <div class="flex flex-col gap-1">
                <div class="flex items-center gap-3">
                    <span class="text-base text-foreground m-0">
                        {name}
                    </span>
                    <div
                        class="transition-all ease-out -ml-1 opacity-0 text-foreground-muted group-hover:opacity-100 group-hover:ml-0"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute transition-all ease-in -z-10 -inset-3 rounded-2xl bg-surface-100 opacity-0 peer-hover:opacity-100"
    >
    </div>
</div>
<!-- </a> -->
