@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
    --m: 4rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 0 0% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 260 100% 76%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 20%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
body {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  font-size: calc(0.3 * var(--m));
  color: #d5d5d5;
  font-weight: 300;
}
* {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
h1 {
  font-size: calc(0.6 * var(--m));
}

h2 {
  font-weight: 500;
  font-size: calc(0.6 * var(--m));
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: calc(0.6 * var(--m));
  margin: 0;
}
@media screen and (max-width: 1000px) {
  :root {
      --m: 3rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}
/* Quick fix to make some icons bigger  */
[data-icon="fusionauth"] {
  width: 26px;
  height: 26px;
}



